body {
	background-image: url("fundo.jpg");
	background-position: center;
	background-color: #e2e2e2;
	background-size: 400px;
	font-family: Impact, Charcoal, sans-serif;
}

a:link {
	color: #281900;
	text-decoration: none;
}
a:visited {
	color: #281900;
}
.capa {
	border: 1px solid #ddd;
  	border-radius: 4px;
 	padding: 8px;
 	width: 1050px;
	max-width: 100%;
	height: auto;
 	display: block;
 	margin-right: auto;
 	margin-left: auto;
 	opacity: 0.92;
}
.homebar{
	word-spacing: 30px;
	background: #ffcb1b;
	color: #281900;
	font-size: 36px;
	border-width:10px;
	border-style: dashed;
	text-align: justify;
	
}
p {
	font-size: 24px;
	text-align: justify;
	padding: 15px;
	background-color: #e2e2e2;
	border-width: 5px;
	border-style: dotted;
	display: block;
	margin-left: 200px;
	margin-right: 200px;


}
#titulo {
	color: #2d1700;
	text-align: left;
	font-size: 36px;
	border-color:#fffa4b;
}
.texto {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #281900;
	padding: 40px;

}
.campanhas {
	border: 1px solid black;
  	border-radius: 4px;
 	padding: 8px;
 	width: 800px;
	max-width: 100%;
	height: auto;
 	display: block;
 	margin-right: auto;
 	margin-left: auto;

}
.copy {
	background-color: #fbfd61;
	text-align: center;
}